* {
  margin: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

section {
  text-align: center;
}

.logo {
  width: 212px;
  height: 35.34px;
  margin-bottom: 12px;
}

.title {
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 500;
}

.success_image {
  width: 105px;
  height: 147px;
  margin-bottom: 16px;
}

.description {
  color: #111111;
}
